<% layout('./layouts/boilerplate.ejs') %>


  <main class="container p-4">
    <h1 class="title is-3 mt-6 ml-1">
      <%= user.username %>'s snippets
    </h1>
    <p class="subtitle is-6 ml-1">Page <%=parseInt(active)+1%></p>
    <% for( let snippet of user.snippets ) { %>
      <div class="card mt-5">
        <div class="card-header is-flex is-flex-wrap-wrap">
          <p class="card-header-title is-flex is-flex-wrap-wrap is-align-items-center" style="gap: 8px;">
            <a class="has-text-dark" href="/s/<%=snippet._id%>"><%=snippet.title%></a>
            <span class="tag is-success is-light is-size-7">
              <% if (snippet.language==='text/x-c++src') { %>
                <span class="has-text-primary">C++</span>
              <% }else if(snippet.language==='text/x-python'){%>
                <span class="has-text-primary">Python</span>
              <% }else if(snippet.language==='text/x-java'){%>
                <span class="has-text-primary">Java</span>
              <% }else if(snippet.language==='text/html'){%>
                <span class="has-text-primary">HTML</span>
              <% }else if(snippet.language==='text/css'){%>
                <span class="has-text-primary">CSS</span>
              <% } else {%>
                <span class="has-text-primary">Javascript</span>
              <%}%> 
            </span>
          </p>
          <span class="card-header-icon copy-button" id="cpy<%=snippet._id%>" data-tooltip="Copy"> <!--Copy To Clipboard-->
            <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#a7a7a7"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
          </span>
        </div>
        <div>
          <textarea name="code" id="<%=snippet._id%>"><%=snippet.code%></textarea>
        </div>
        <div class="card-footer" style="width: fit-content;">
          <span class="card-footer-item is-size-7 has-text-grey">
            <p>Created <%=Math.floor((Date.now() - snippet.timestamp) / (1000*60*60*24))%> days ago
            </p>
          </span> 
        </div>
      </div>
    <% } %>
    <footer class="mt-6">
      <% if(active==0) { %>
        <nav class="pagination is-flex is-justify-content-flex-end" role="navigation" aria-label="pagination">
          <a class="pagination-previous" disabled>Previous</a>
          <a href="?page=<%=1+parseInt(active)%>"class="pagination-next">Next page</a>
        </nav>
      <% } else{%>
        <nav class="pagination is-flex is-justify-content-flex-end" role="navigation" aria-label="pagination">
          <a href="?page=<%=active-1%>" class="pagination-previous">Previous</a>
          <a href="?page=<%=1+parseInt(active)%>"class="pagination-next">Next page</a>
        </nav>
      <%}%> 
    </footer>
  </main>
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>
<script src="/codemirror/mode/clike/clike.js"></script>
<script src="/codemirror/mode/python/python.js"></script>
<script src="/codemirror/mode/css/css.js"></script>
<script src="/codemirror/mode/xml/xml.js"></script>
<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror/addon/edit/closebrackets.js"></script>

<script>
  const snippets = <%-JSON.stringify(user.snippets)%>;

  for(let snippet of snippets){
    const myTextarea = document.getElementById(snippet._id)

    CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true,
      mode: "text/x-c++src",
      tabSize: 2,
      lineWrapping: true,//scroll = false
      readOnly: true,
      autoCloseBrackets: true,
      theme: `${snippet.theme}`
    })

    const button  = document.getElementById(`cpy${snippet._id}%>`)

    button.onclick=()=>{
      let field = document.getElementById(`${snippet._id}%>`)
      field.select()
      field.setSelectionRange(0, 99999)
      navigator.clipboard.writeText(field.value);
      button.setAttribute('data-tooltip', 'Copied!')
    }
    button.onmouseleave =()=>{
      button.setAttribute('data-tooltip', 'Copy')
    }
  }
  
</script>
