<div class="card mt-6">
  <div class="card-header is-flex is-flex-wrap-wrap">
    <p class="card-header-title is-flex is-flex-wrap-wrap is-align-items-center" style="gap: 8px;">
      <a class="has-text-dark" href="/s/<%=snippet._id%>"><%=snippet.title%></a>
      <span class="tag is-success is-light">
        <% if (snippet.language==='text/x-c++src') { %>
          <a class="has-text-primary" href="?lang=cpp">C++</a>
        <% }else if(snippet.language==='text/x-python'){%>
          <a class="has-text-primary" href="?lang=python">Python</a>
        <% }else if(snippet.language==='text/x-java'){%>
          <a class="has-text-primary" href="?lang=java">Java</a>
        <% }else if(snippet.language==='text/html'){%>
          <a class="has-text-primary" href="?lang=html">HTML</a>
        <% }else if(snippet.language==='text/css'){%>
          <a class="has-text-primary" href="?lang=css">CSS</a>
        <% } else {%>
          <a class="has-text-primary" href="?lang=javascript">Javascript</a>
        <%}%> 
      </span>
    </p>
    <span class="card-header-icon copy-button" id="share<%=snippet._id%>" data-tooltip="Share"> <!--Copy To Clipboard-->
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="18px" fill="#a7a7a7"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/></svg>
    </span>
    <span class="card-header-icon copy-button" id="cpy<%=snippet._id%>" data-tooltip="Copy"> <!--Copy To Clipboard-->
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#a7a7a7"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
    </span>
  </div>
  <div>
    <textarea name="code" id="<%=snippet._id%>"><%=snippet.code%></textarea>
  </div>
  <div class="card-footer" style="width: fit-content;">
    <span class="card-footer-item is-size-7 has-text-grey">
      <p>Created <%=Math.floor((Date.now() - snippet.timestamp) / (1000*60*60*24))%> days ago by
        <a class="has-text-info" href="/u/<%=snippet.author.username%>">u/<%=snippet.author.username%></a>
      </p>
    </span> 
  </div>
</div>


<script>
  const snippets = <%-JSON.stringify(snippets)%>;

  for(let snippet of snippets){
    const myTextarea = document.getElementById(snippet._id)

    CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true,
      mode: "text/x-c++src",
      tabSize: 2,
      lineWrapping: true,//scroll = false
      readOnly: true,
      autoCloseBrackets: true,
      theme: `${snippet.theme}`
    })

    const button  = document.getElementById(`cpy${snippet._id}%>`)

    button.onclick=()=>{
      let field = document.getElementById(`${snippet._id}%>`)
      field.select()
      field.setSelectionRange(0, 99999)
      navigator.clipboard.writeText(field.value);
      button.setAttribute('data-tooltip', 'Copied!')
    }
    button.onmouseleave =()=>{
      button.setAttribute('data-tooltip', 'Copy')
    }
    const shareButton = document.getElementById(`share${snippet._id}`)

    shareButton.onclick=()=>{
      navigator.clipboard.writeText(`${window.location.host}/s/${snippet._id}`);
      shareButton.setAttribute('data-tooltip', 'Copied!')
    }

    shareButton.onmouseleave=()=>{
      shareButton.setAttribute('data-tooltip', 'Share')
    }
  }
  
</script>