<% layout('./layouts/boilerplate.ejs') %>

<form action="/s/private/edit/<%=snippet.id%>?_method=PUT" method="POST">
  <div class="container p-4 mt-4">
    <div class="card">
      <div class="card-header p-4 is-flex is-flex-direction-column">
        <input class="input mb-2" name="title" type="text" placeholder="Enter Snippet Title" value="<%=snippet.title%>" required>
        <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 6px;">
          <div class="select">
            <select name="theme" id="theme-selector">
              <option value="monokai">monokai</option>
              <option value="blackboard"<%if(snippet.theme==='blackboard'){%>selected<%}%>>blackboard</option>
              <option value="duotone-light"<%if(snippet.theme==='duotone-light'){%>selected<%}%>>duotone-light</option>
              <option value="duotone-dark"<%if(snippet.theme==='duotone-dark'){%>selected<%}%>>duotone-dark</option>
            </select>
          </div>
          <div class="select">
            <select name="language" id="language-selector">
              <option value="text/x-c++src"<%if(snippet.language==='text/x-c++src'){%>selected<%}%>>C++</option>
              <option value="text/x-python"<%if(snippet.language==='text/x-python'){%>selected<%}%>>Python</option>
              <option value="text/x-java"<%if(snippet.language==='text/x-java'){%>selected<%}%>>Java</option>
              <option value="text/html"<%if(snippet.language==='text/html'){%>selected<%}%>>HTML</option>
              <option value="text/css"<%if(snippet.language==='text/css'){%>selected<%}%>>CSS</option>
              <option value="javascript"<%if(snippet.language==='javascript'){%>selected<%}%>>JavaScript</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <textarea name="code" id="code-editor"><%=snippet.code%></textarea>
      </div>
      <div class="card-footer p-2 is-flex is-justify-content-space-between is-flex-wrap-wrap has-text-grey">
        <div>
          <span class="card-footer-item is-size-7">Created <%=snippet.timestamp%></span>
        </div>
        <div class="is-flex">
          <button type="submit" class="button is-success is-light"><strong>Save</strong></button></form>
          <form action="/s/private/<%=snippet._id%>?_method=DELETE" method="post">
            <button type="submit" class="button is-danger is-light ml-3"><strong>Delete</strong></button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>
<script src="/codemirror/mode/clike/clike.js"></script>
<script src="/codemirror/mode/python/python.js"></script>
<script src="/codemirror/mode/css/css.js"></script>
<script src="/codemirror/mode/xml/xml.js"></script>
<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror/addon/edit/closebrackets.js"></script>
<script src="/javascripts/codemirror.js"></script>
<script>
  codeMirror.setOption('theme', '<%=snippet.theme%>')
  codeMirror.setOption('mode', '<%=snippet.language%>')
</script>